.checkout-button{
    background-color: #209de6;
    border: 0px;
    color:white;
    border-radius:6px;
    padding:6px;
    width:30%
}
.summery-container{
   width:100%;
   display:flex;
   flex-direction: row;
   justify-content: flex-end;
  
}
.total-items{
    font-size: 12px;
    margin-top: 6px;
    margin-bottom:6px;
}
.order-total-value{
    font-size: 16px;
    margin-top: 6px;
    margin-bottom:6px;
}
.cart-summary-container{
    width:30%;
    display: flex;
    flex-direction: column;
    
  
    
    margin:10px;
    background-color: #e1f3f2;
    padding:20px;
    border-radius: 6px;
    
}