*{
    margin:0px;
    box-sizing: border-box;
   
}
.login-bg-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin:0px 10px 0px 10px;
    
  

}
.login-img-container{
    height:40%;
    width:33%;
}
.login-img{
    height:90%;
    align-self: center;
}
.form-section-container{
    height:70%;
    width:30%;
}
.form-section{
    height:80%;
    width:80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px 0px grey;
    align-self: center;
}

@media screen and (max-width:576px){
    .login-bg-container{
        height:100vh;
        width:100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:10px 0px 10px 0px;
        
    }
    .login-img-container{
        height:35%;
        width:35%;
        align-self: center;
    }
    .form-section-container{
        height:50%;
        width:35%;
        align-self: center;
        
        
    }
    .form-section{
        height:100%;
        width:100%;
    }
    .login-img{
        height:90%;
        width:100%;
        align-self: center;
    }
   
    
}


@media screen and (min-width:576px) and (max-width:768px){
    .login-bg-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:100%;
        width:100%;
        margin:10px;
    }
    .login-img-container{
        height:35%;
        width:35%;
    }
    .form-section-container{
        height:35%;
        width:35%;
    }
    .login-img{
        height:100%;
        width:100%;
    }
    .form-section{
        height:100%;
        width:100%;
    }
}















.login-logo-img-section{
    width:45%;
    align-self: center;
    margin-bottom: 20px;

}
.login-btn{
    background-color: #42a5f5;
    color:white;
    padding:6px 0px 6px 0px;
    border: 0px;
    border-radius: 6px;
}
.name-label{
    font-size: 13px;
    font-weight: 600;
    margin-bottom:6px;
    
}
.password-label{
    font-size: 13px;
    font-weight: 600;
    margin-bottom:6px;
    
}
.name-input{
    padding:8px 0px 8px 8px;
    background-color: rgb(210,210,241,0.2);
    border: 0px;
    border-radius: 6px;
    font-size: 12px;

}
.password-input{
    padding:8px 0px 8px 8px;
    background-color: rgb(210,210,241,0.2);
    border: 0px;
    border-radius: 6px;
    font-size: 12px;
    
}
.error-message{
    color:red;
    font-size: 12px;
    margin-top:6px;
}